actionlib
aioredis==1.3.1
amqp==5.0.2
angles==1.9.13
asgiref==3.2.10
async-timeout==3.0.1
attrs==20.3.0
autobahn==20.7.1
Automat==20.2.0
billiard==3.6.3.0
bondpy==1.8.6
braintree==4.5.0
cairocffi==1.2.0
CairoSVG==2.5.0
camera-calibration==1.15.2
camera-calibration-parsers==1.12.0
catkin==0.8.8
celery==5.0.2
certifi==2020.11.8
cffi==1.14.3
channels==3.0.2
channels-redis==3.2.0
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
constantly==15.1.0
controller-manager==0.19.2
controller-manager-msgs==0.19.2
cryptography==3.2.1
cssselect2==0.4.1
cv-bridge==1.15.0
daphne==3.0.1
defusedxml==0.7.0rc1
diagnostic-analysis==1.10.2
diagnostic-common-diagnostics==1.10.2
diagnostic-updater==1.10.2
Django==3.1.2
django-braces==1.14.0
django-embed-video==1.3.3
django-extensions==3.0.9
django-localflavor==3.0.1
django-memcache-status==2.2
django-parler==2.2
django-rosetta==0.9.5
django-summernote==0.8.11.6
django-taggit==1.3.0
djangorestframework==3.12.2
dynamic-reconfigure==1.7.1
easy-thumbnails==2.7
flower==0.9.5
gazebo-plugins==2.9.1
gazebo-ros==2.9.1
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.14
hiredis==1.1.0
html5lib==1.1
humanize==3.1.0
hyperlink==20.0.1
idna==2.10
image-geometry==1.15.0
incremental==17.5.0
interactive-markers==1.12.0
joint-state-publisher==1.15.0
joint-state-publisher-gui==1.15.0
kombu==5.0.2
laser-geometry==1.6.5
Markdown==3.3.3
message-filters==1.15.8
msgpack==1.0.0
oauthlib==3.1.0
Pillow==8.0.1
polib==1.1.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
Pyphen==0.10.0
python-memcached==1.59
python-qt-binding==0.4.3
python-stdnum==1.14
python3-openid==3.2.0
pytz==2020.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
redis==3.5.3
requests==2.25.0
requests-oauthlib==1.3.0
resource-retriever==1.12.6
rosbag==1.15.8
rosboost-cfg==1.15.6
rosclean==1.15.6
roscreate==1.15.6
rosgraph==1.15.8
roslaunch==1.15.8
roslib==1.15.6
roslint==0.12.0
roslz4==1.15.8
rosmake==1.15.6
rosmaster==1.15.8
rosmsg==1.15.8
rosnode==1.15.8
rosparam==1.15.8
rospy==1.15.8
rosservice==1.15.8
rostest==1.15.8
rostopic==1.15.8
rosunit==1.15.6
roswtf==1.15.8
rqt-action==0.4.9
rqt-bag==0.4.15
rqt-bag-plugins==0.4.15
rqt-console==0.4.11
rqt-dep==0.4.10
rqt-graph==0.4.14
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.8
rqt-logger-level==0.4.11
rqt-moveit==0.5.9
rqt-msg==0.4.9
rqt-nav-view==0.5.7
rqt-plot==0.4.12
rqt-pose-view==0.5.10
rqt-publisher==0.4.9
rqt-py-common==0.5.2
rqt-py-console==0.4.9
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.11
rqt-runtime-monitor==0.5.8
rqt-rviz==0.6.1
rqt-service-caller==0.4.9
rqt-shell==0.4.10
rqt-srv==0.4.8
rqt-tf-tree==0.6.1
rqt-top==0.4.9
rqt-topic==0.4.12
rqt-web==0.4.9
rviz==1.14.1
sensor-msgs==1.13.0
service-identity==18.1.0
six==1.15.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sqlparse==0.4.1
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
tinycss2==1.1.0
topic-tools==1.15.8
tornado==6.1
Twisted==20.3.0
txaio==20.4.1
urllib3==1.26.2
uWSGI==2.0.19.1
vine==5.0.0
wcwidth==0.2.5
WeasyPrint==52.1
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
xacro==1.14.4
zope.interface==5.2.0
